<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.hardware.sensor.stepcounter" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        tools:targetApi="31">
        <activity
            android:name=".dietplan.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.FinalProject">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- SignUpActivity -->
        <activity
            android:name=".dietplan.SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" /> <!-- SuccessActivity -->
        <activity
            android:name=".dietplan.SuccessActivity"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".dietplan.ForgotPassword"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".dietplan.PasswordResetScreen"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".dietplan.MyDietPlanner"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".dietplan.SexSelectionActivity"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".dietplan.DietActivity"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".dietplan.loginWithGoogle"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".dietplan.CategorizeScreen"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".dietplan.ProfileSection"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".dietplan.PlanMealScreen"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".dietplan.PhotoPick"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".dietplan.SupportScreen"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".dietplan.SelectProfile"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".headspace.BMIActivity"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".headspace.MyFitness"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".headspace.ExerciseActivity"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".headspace.HistoryScreen"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".headspace.HeadSpaceHome"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".headspace.PlayScreen"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".headspace.CalmingSounds"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".headspace.SleepTipsActivity"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".headspace.SleepMeditationActivity"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
        <activity
            android:name=".headspace.MyScore"
            android:exported="true"
            android:theme="@style/Theme.FinalProject"
            tools:ignore="MissingClass" />
    </application>

</manifest>